[submodule "dunlop"]
	path = dunlop
	url = https://github.com/leoch17/dunlop.git
[submodule "yokohama-landing-nextjs"]
	path = yokohama-landing-nextjs
	url = https://github.com/leoch17/yokohama-landing-nextjs.git
